<form class="addTask" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
	<h4 class="addTaskHeader">
		Task Create
	</h4>
	<br>

<br>
	<label>Title</label>
    <input type="text" name="title" formControlName="title">
    <div *ngIf="taskForm?.get('title')?.hasError('required') ?? false" class="error-message">
        Title is required.
    </div>
	<br>

	<label>Description</label>
	<input type="text" name="description" formControlName="description" required >
    <div *ngIf="taskForm?.get('description')?.hasError('required') ?? false" class="error-message">
        Description is required.
    </div>

	<br>
	<label>Priority</label>
	<input type="text" name="priority" formControlName="priority">
    <div *ngIf="taskForm?.get('priority')?.hasError('required') ?? false" class="error-message">
        Priority is required.
    </div>
<br>
<br>
	<input type="button" class="button redButton" value="Cancel">
	<input class="button blueButton" type="submit" value="Add">
	<br>
  <!-- <p>{{credentials | json}}</p> -->
</form>

  <!--  -->





